@model mvcGuitarists.Models.GuitaristTable

@{
    ViewBag.Title = "Edit";
}

<div class="text-left">
    <h2>Edit Profile</h2>
    <h3>Please enter correct details of the artist</h3>
</div>
<hr />

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(m => m.Id)  @*WHATS THIS HTML HELPER DOING IN THIS PROJECT?*@

        <div class="form-group">
            @Html.LabelFor(m => m.Image, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(m => m.Image, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(m => m.Image, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(m => m.Name, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(m => m.Name, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(m => m.Name, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(m => m.Roles, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(m => m.Roles, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(m => m.Roles, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(m => m.MemberOf, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(m => m.MemberOf, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(m => m.MemberOf, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(m => m.Genre, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(m => m.Genre, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(m => m.Genre, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Save Changes" class="btn" />
                &nbsp;&nbsp;
                <a href='@Url.Action("Details","Home", new { id = Model.Id })' class="btn">Cancel</a>
            </div>
        </div>
    </div>
}

